body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: white;
    margin: 0;
    padding: 0;
}
a {
    color: royalblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: royalblue;
}
a:active {
    color: royalblue;
}
h1, h2 {
    font-family: Georgia, Times, serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a:visited {
        color: black;
    }
    a:active {
        color: black;
    }
}
h1 {
    font-size: 3rem;
    line-height: 1.2;
}
h2 {
    font-size: 2.25rem;
    font-weight: normal;
}
h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: .25rem;
}
h4 {
    font-size: 1.375rem;
    margin-top: .75rem;
}
h5 {
    font-size: 1.25rem;
    margin-top: .75rem;
}
h6 {
    font-size: 1.125rem;
    margin-top: .75rem;
}
p {
    font-size: 1rem;
}
main {
    display: flex;
    justify-content: center;
}
.sidenav {
    padding: 24px 32px;
    font-weight: bold;
    overflow-y: auto; /* Enable vertical scrolling */
    ul li {
        margin-top: 4px;
        a {
            font-size: 1.125rem;
            color: black;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        a:visited {
            color: black;
        }
        a:active {
            color: black;
        }
        ul li {
        margin-top: 0;
        padding-left: 16px;
        font-weight: normal;
        a {
            font-size: 1rem;
            color: black;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        a:visited {
            color: black;
        }
        a:active {
            color: black;
        }
        }
    }
}
.main-content {
    max-width: 1120px;
    padding: 24px 32px;
    background-color: white;
}
.image-gallery {
    display: flex-wrap;
    margin-top: 12px;
}
.image-container {
    height: 200px;
    margin: 0 24px 24px 0;
}
.bulleted-list {
    padding-bottom: 4px;
    li {
        list-style-type: disc;
        margin-left: 16px;
        padding-left: 4px;
    }
}
footer {
    background-color: dimgray;
    margin: 24px 0 0 0;
    padding: 24px 0;
    color: white;
    p {
        font-size: 0.875rem;
        text-align: center;
    }
}